.FormContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  background-color: #E6F6FF;
}

.CalcFields {
  margin: 20px;
  
}

.Answer {
  color: red;
}

.InputFields {
  background-color: #BAECE7
}

.CalcFields {
  background-color: #BAECE7;
}

.Button {
  font-size: 20px;
}

h1 {
  color: rgb(13, 15, 131);
  padding: 10px;
  font-size: 30px;
}

h2 {
  color: rgb(13, 15, 131);
  padding: 10px;
  font-size: 20px;
}

p {
  padding: 10px;
  margin: 10px
}

input {
  color: grey;
}
