.FormContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 4.4rem 10%;
}
  
h1 {
  color: rgb(13, 15, 131);
  padding: 10px;
  font-size: 30px;
}

h2 {
  color: rgb(13, 15, 131);
  padding: 10px;
  font-size: 20px;
}

input {
  color: grey;
}
